/* font */
@import url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* body */
*{
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
}
/* navbar */
li, a, button{
    font-size: 16px;
    color: #333333;
    text-decoration: none;
}
/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
/* logo */
.logo{
    filter: grayscale(100%);
    cursor: pointer;
    width: 150px;
    font-weight: 700;
    font-size: 30px;
    color:rgb(81, 81, 82);
}

.logo:hover{
    filter: grayscale(0%);
   
}
/* navbar */
.menu_items{
    list-style: none;
}
.menu_items li{
    display: inline-block;
    padding: 0px 20px;
}
.menu_items li a {
    transition: all 0.3s ease 0s;
}
.menu_items li a:hover {
    color: rgb(81, 81, 82);
}
/* button style */
button{
    padding: 9px 25px;
    background-color: rgb(238 246 247);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: #FFEFEF;
}
/* navbar responsive */
@media( max-width: 1200px)
{   header
    {
        margin: 20px;
    }
}
@media( max-width: 920px)
{   .menu-toggle
    {   display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: rgb(81, 81, 82);
    }
    .menu-toggle::before
    {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    nav{
        display: none;
    }
}
/* All Paragraph style Starts */
p{
    color: #333333;
}
/* All h1, h2 style Starts */
h1{
    margin-top: -20px;
    font-size: 40px;
    color: #333333;
    font-family: 'Yeseva One';
    font-weight: 100;
}
h2{
    font-size: 45px;
    padding-left: 2.5px;
    font-weight: bold;
}
/* section paragraph */
.sec-para{
    padding: 15px 0px;
}
/* section left line*/
.left-line::before{
    content: "";
    height: 89px;
    width: 3px;
    background:#684DFA;
    float: left;
    margin-right: 13px;
    margin-top: 8px;
    border-radius: 5px;
}

    
/* Highlight style Starts */
.name-highlight{
    color: #684DFA;
}

/* Button Style */


.btn-st {
    color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: 100;
    background-color: #684DFA;
    border: none;
    text-decoration: none;
    transition: all .3s ease-in-out;
    padding: 12px 35px;
    border-radius: 5px;
}

.btn-st:hover {
    color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: 100;
    background-color: #333333;
    border: none;
    text-decoration: none;
    transition: all .3s ease-in-out;
    padding: 12px 35px;
    border-radius: 5px;
}


/* all section style Starts */
section{
    height: 570px;
    padding: 30px;
}
/*section header style Starts */
.heading{
    padding: 50px;
}
/* Section div starts */
.sec-div{
    padding-top: 70px;
    padding-left: 60px;
    float: left;
    width: 40%;
    margin-left: 5%;
}
.sec-div2{
    padding-top: 70px;
    padding-left: 60px;
    float: left;
    width: 40%;
    margin-left: 5%;
}
/*section image style starts */
.sec-div img{
    margin-top: -160px;
    width: 100%;
    cursor: pointer;
    transition: .5s;
}

.sec-div img:hover{
    width: 100%;
    cursor: pointer;
    transition: .5s;
    transform: translateY(-20px);
    
}
.sec-div2 img{
    width: 100%;
    cursor: pointer;
    transition: .5s;
}
.sec-div2 img:hover{
    width: 100%;
    cursor: pointer;
    transition: .5s;
    transform: translateY(-20px);
    
}
/* First section style Starts */
.SecOne{
}
/* second section style Starts */
.Sectwo{
    margin-top: 170px;
}
/* third section style Starts */
.SecThree{
    margin-top: -80px;
}
/*section-3 style starts*/
.sec3{
    margin-top: 120px;
}
/*section-4 style start*/
.sec-4 .heading h1{
    font-weight: bold;
}

/* service section style Starts */
.service-serction{
    margin-bottom: -170px;
    background-repeat: no-repeat;
    background-image: url(../img/footer-bg.png);
    height: 900px;
}



/* section header horizontal line style Starts */
.Horiz_Line{
    width: 70px;
    border:1px solid #684DFA;
}


/* service icon starts */
.icon-style{
    color: #333333;
    font-size: 70px;
}
.icon-style:hover{
    color: #684DFA;
    font-size: 70px;
    transition: all 0.3s ease-in-out;
}

/* service item starts */
.service{
    margin-bottom: 35px;
    transition: all 0.3s ease-in-out;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 14px 36px 0 rgba(0,18,46,.08);
}

.service:hover{
    cursor: pointer;
    margin-bottom: 35px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 14px 36px 0 rgba(0,18,46,.08);
    transform: translatey(-10px);
}

.service h3{
    transition: .5s;
}
.service:hover h3{
    transition:  0.5s ease-out;
    transform: translate(10px);
}
/* Section with image */
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 90px;
  }
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 30%;
    padding: 0px 25px;
    margin-left: 35px;
    border-radius: 15px;
    width: 360px;
    height: 365px;
  }

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 141px;
    height: 141px;
    left: 572px;
    top: 748px;
  }



/*footer style start*/
footer{
    background-color: black;
}
footer h3{
    font-size: 36px;
    font-family: 'Lobster', cursive;
    color: white;
    text-align: center;
}
footer p{
    color: white;
    text-align: center;
}